<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Buscar Usuario</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" name="filterUser" [(ngModel)]="filterUser">
        </div>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4"
                *ngFor="let userWithJobs of usersWithJobs | filterUsers:filterUser">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h4 class="card-title">{{userWithJobs.names}}</h4>
                                    <h4 class="card-title">{{userWithJobs.lastnames}}</h4>
                                    <p class="card-text">Cédula: {{userWithJobs.identificationCard}}</p>
                                    <p class="card-text" *ngFor="let job of userWithJobs.jobName">{{job}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p class="card-text">Celular: {{userWithJobs.phone}}</p>
                                    <p class="card-text">Email: {{userWithJobs.email}}</p>
                                    <p class="card-text">Dirección: {{userWithJobs.address}}</p>
                                    <p class="card-text">Nivel académico: {{userWithJobs.academicProfile}}</p>
                                    <p class="card-text">Cédula: {{userWithJobs.identificationCard}}</p>
                                    <div style="text-align:center">
                                        <button type="button" class="btn btn-primary"
                                            (click)=downloadCvByIdUser(userWithJobs.idUser)>Descargar hoja de
                                            vida</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>
<!-- Team -->