<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let user of users">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h4 class="card-title">{{user.names}}</h4>
                                    <h4 class="card-title">{{user.lastnames}}</h4>
                                    <p class="card-text">{{user.identificationCard}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p class="card-text">{{user.phone}}</p>
                                    <p class="card-text">{{user.email}}</p>
                                    <p class="card-text">{{user.address}}</p>
                                    <p class="card-text">{{user.academicProfile}}</p>
                                    <p class="card-text">{{user.identificationCard}}</p>
                                    <div style="text-align:center">
                                        <button type="button" class="btn btn-primary"
                                            (click)=downloadCv(user.idUser)>Descargar hoja de vida</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>
<!-- Team -->