<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Publicar oferta laboral</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>

<div class="modal-body">
    <form (ngSubmit)="send()">

        <div class="form-group">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nombre (Campo obligatorio)" aria-label="Nombre"
                    aria-describedby="basic-addon1" [(ngModel)]="job.name" name="name">
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Descripción (Campo obligatorio)"
                    aria-label="Descripción" aria-describedby="basic-addon1" [(ngModel)]="job.description"
                    name="description">
            </div>

            <div class="input-group mb-3">
                <div class="col-sm-4">
                    <label>Fecha de vencimiento:</label>
                </div>
                <input type="datetime-local" id="dateFinish" name="dateFinish" placeholder="Fecha de vencimiento"
                    aria-label="Date Finish" aria-describedby="basic-addon1" [(ngModel)]="job.dateFinish"
                    name="dateFinish">
                <p class="infoprofession">Sino se especifica, se vence la oferta a los 90 días.</p>
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Salario (Opcional)" aria-label="Salario"
                    aria-describedby="basic-addon1" [(ngModel)]="job.salary" name="salary">
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Dirección (Opcional)" aria-label="Dirección"
                    aria-describedby="basic-addon1" [(ngModel)]="job.address" name="address">
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Empresa (Opcional)" aria-label="Empresa"
                    aria-describedby="basic-addon1" [(ngModel)]="job.company" name="company">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Categoría (Obligatorio)</span>
                </div>
                <select class="form-select" placeholder="Seleccione la categoría" aria-label="Default select example"
                    aria-describedby="basic-addon1" [(ngModel)]="job.category" name="category">
                    <option *ngFor="let category of category_array">{{category}}</option>
                </select>
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Otra categoría." aria-label=""
                    aria-describedby="basic-addon1" [(ngModel)]="newCategory" name="newCategory">
                <p class="infoprofession">Llene este campo en caso de que su elección en la categoría sea Otro.</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)=modalRef.close()>
                    Cerrar
                </button>
                <button role="button" class="btn btn-primary">Publicar</button>
            </div>

        </div>

    </form>

</div>