<div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>

<div class="modal-body">
    <form (ngSubmit)="send()">

        <div class="form-group">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre"
                    aria-describedby="basic-addon1" [(ngModel)]="aliado.name" name="name">
            </div>

            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02" (change)="selectFile($event)" name="file">
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)=modalRef.close()>
                    Cerrar
                </button>
                <button role="button" class="btn btn-primary">Crear</button>
            </div>

        </div>

    </form>

</div>