<!-- Team -->
<section id="team" class="pb-5">

    <div class="container">
        <h1>Ofertas laborales
            <button type="button" class="btn btn-primary" (click)=openModalCreateJob()>Crear oferta laboral</button>
        </h1>
        <div class="row">
            <!-- Team member -->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Requisito</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha de publicación</th>
                        <th scope="col">Fecha de vencimiento</th>
                        <th scope="col">Salario</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Empresa</th>
                        <th scope="col">Categoría</th>
                    </tr>
                </thead>
                <tbody *ngFor="let job of jobs">
                    <tr *ngIf="job.name !='Otros'">
                        <td>{{job.name}}</td>
                        <td>{{job.description}}</td>
                        <td>{{job.requisito}}</td>
                        <td>{{stateSpanish(job.state)}}</td>
                        <td>{{job.dateInit | date:'dd/MM/yyyy'}}</td>
                        <td>{{job.dateFinish | date:'dd/MM/yyyy'}}</td>
                        <td>{{job.salary}}</td>
                        <td>{{job.address}}</td>
                        <td>{{job.company}}</td>
                        <td>{{job.category}}</td>
                        <td>
                            <div style="text-align:center">
                                <button type="button" class="btn btn-edit" (click)=openModal(job)>Editar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- ./Team member -->
        </div>
    </div>
</section>
<!-- Team -->